<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/civil.css">
    <link rel="icon" href="img/favi.ico">
    <title>CIVIL</title>
</head>
<body>
    <h1>GPA CALCUALTOR FOR CIVIL</h1>

    <iframe src="background" scrolling="no" frameborder="0"></iframe>

    <div class="container">
        <div class="content">
            <span>➼ </span> <strong><a href="civil/civil-01">Semester 01 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span> <strong><a href="civil/civil-02">Semester 02 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="civil/civil-03">Semester 03 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span> <strong><a href="civil/civil-04">Semester 04 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="civil/civil-05">Semester 05 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="civil/civil-06">Semester 06 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="civil/civil-07">Semester 07 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="civil/civil-08">Semester 08 Calculator</a></strong>
        </div>
    </div>

    <!-- <script src="civil=01.js"></script> -->
</body>
</html>