<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ece.css">
    <link rel="icon" href="img/favi.ico">
    <title>ECE</title>
</head>
<body>
    <h1>GPA CALCUALTOR FOR ECE</h1>
    <iframe src="background" scrolling="no" frameborder="0"></iframe>

    <div class="container">
        <div class="content">
            <span>➼ </span><strong><a href="ece/ece-01">Semester 01 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="ece/ece-02">Semester 02 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="ece/ece-03">Semester 03 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="ece/ece-04">Semester 04 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="ece/ece-05">Semester 05 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="ece/ece-06">Semester 06 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="ece/ece-7">Semester 07 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="ece/ece-08">Semester 08 Calculator</a></strong>
        </div>
    </div>
</body>
</html>