<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/eee.css">
    <link rel="icon" href="img/favi.ico">
    <title>EEE</title>
</head>
<body>
    <iframe src="background" scrolling="no" frameborder="0"></iframe>
    <div class="container">
        <h1>GPA CALCUALTOR FOR EEE</h1>
        <div class="centered-div">
            <span>➼ </span> <strong><a href="eee/eee-01">Semester 01 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span> <strong><a href="eee/eee-02">Semester 02 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="eee/eee-03">Semester 03 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span> <strong><a href="eee/eee-04">Semester 04 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="eee/eee-05">Semester 05 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="eee/eee-06">Semester 06 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="eee/eee-07">Semester 07 Calculator</a></strong>
            <br>
            <br>
            <span>➼ </span><strong><a href="eee/eee-08">Semester 08 Calculator</a></strong>
            <br><br>
        </div>
    </div>

</body>
</html>