<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>! Oops Something went wrong</title>
  <link rel="icon" href="img/favi.ico">
  <link rel="stylesheet" href="css/failure.css">
</head>
<body>
  <div class="failure-container">
    <div class="failure-icon">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 2a1 1 0 011 1v14a1 1 0 11-2 0V3a1 1 0 011-1zM12 20a1 1 0 011-1v-3a1 1 0 112 0v3a1 1 0 011 1 1 1 0 01-1 1H12a1 1 0 01-1-1zm0-6a1 1 0 011-1v-7a1 1 0 112 0v7a1 1 0 01-1 1 1 1 0 01-1-1z"/>
      </svg>
    </div>
    <h1>Failure!</h1>
    <p>Sorry, an error occurred while processing your request.</p>
  </div>
</body>
</html>
