<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="icon" href="/img/favicon.ico">
   
    <!-- <script src="public\js\app.js"></script> -->
    <title>CGPA_ CALCULATOR</title>
<body>

    <div class="main-container">
        <div class="container">
            <section class="section-1"><h1>GPA CALCUALTOR</h1></section>
            <input type="checkbox" id="btnControl">
            <label class="label1" for="btnControl">
           <div class="content"> 
            <p class="para1"> Select one from the given options: </p>
                <select onchange="hideDiv()"  class="form-select" category id="selectoptions">
                    <option class="option" value="choose">Choose your Department</option>
                    <option class="option" value="civil">B.E. CIVIL ENGINEERING</option>
                    <option class="option" value="mech">B.E. MECHANICAL ENGINEERING</option>
                    <option class="option" value="cse">B.E. COMPUTER SCIENCE ENGINEERING</option>
                    <option class="option" value="ece">B.E. ELECTRONICS COMMUNICATION ENGINEERING</option>
                    <option class="option" value="eee">B.E. ELECTRICAL AND ELECTRONICS ENGINEERING</option>
                    <option class="option" value="aids">B.E. ARTIFICAL INTELLIGENCE</option>
                    <option class="option" value="cyber-security">B.E. CYBER SECURITY</option>
                </select>
            </div>
        </label>
        </div>
<br><br><br><br>
        <hr>
    
            <div class="cgpa">
                <h1 class="header_text">CGPA CALCULATOR</h1>
                <div class="cgpain" >
                    <p>Select the Semester:</p>
                    <select name="cgpa-options" class="form-select2" id="custom" onchange="customselect()">
                        
                        <option id="one" value="choose">List of Semesters</option>
                        <option id="two"  value="1">1</option>
                        <option id="three"  value="2">2</option>
                        <option id="four"  value="3">3</option>
                        <option id="five"  value="4">4</option>
                        <option id="six"  value="5">5</option>
                        <option id="seven"  value="6">6</option>
                        <option id="eight"  value="7">7</option>
                        <option id="nine"  value="8">8</option>
                        </select>
                
       
           <!-- div to be opened when options is selecteds -->
<div id="inputContainer1" style="display: none;" class="divinput">
    <input type="text" class="in1" id="inputBox1"required>
    <span>Gpa of SEMESTER Ⅰ </span>
    <i></i>
</div>

<br>

<div class="divinput" id="inputContainer2" style="display: none;">
    <input type="text" class="in1" id="inputBox2" required>
    <span for="">Gpa of SEMESTER Ⅱ </span>
    <i></i>
</div>

<br>

<div class="divinput" id="inputContainer3" style="display: none;">
    <input type="text" class="in1" id="inputBox3" required>
    <span for="">Gpa of SEMESTER Ⅲ </span>
    <i></i>
</div>

<br>

<div class="divinput" id="inputContainer4" style="display: none;">
    <input type="text" class="in1" id="inputBox4" required>
    <span for="">Gpa of SEMESTER Ⅳ</span>
    <i></i>
</div>

<br>

<div class="divinput" id="inputContainer5" style="display: none;">
    <input type="text" class="in1" id="inputBox5" required>
    <span for="">Gpa of SEMESTER Ⅴ</span>
    <i></i>
</div>

<br>

<div class="divinput" id="inputContainer6" style="display: none;">
    <input type="text" class="in1" id="inputBox6" required>
    <span for="">Gpa of SEMESTER Ⅵ </span>
    <i></i>
</div>

<br>

<div class="divinput" id="inputContainer7" style="display: none;">
    <input type="text" class="in1" id="inputBox7" required>
    <span for="">Gpa of SEMESTER Ⅶ </span>
    <i></i>
</div>

<br>

<div class="divinput" id="inputContainer8" style="display: none;">
    <input type="text" class="in1" id="inputBox8" required>
    <span for="">Gpa of SEMESTER Ⅷ </span>
    <i></i>
</div>

<br>

<div class="">
    <button id="btn-btn" class="btn btn-outline-primary" onclick="ValidateForm()">CALCULATE</button>
    <p class="final_result" id="cgpa-calculate"></p>
</div>


</div> 
</div>
<br><br><br><br>
<hr>

       
        <div class="important-note">
            <h2>Important Note:</h2>
            <br>
           <ul>
            <li>To get distinction Students must get atleast <span class="strong">8.5 CGPA </span>With out any history of arrears in all their semesters.</li>
            <br>
            <li>To get First Class Students must get atleast <span class="strong">6.5 CGPA</span>.</li>
            <br>
            <li> If you find any errors in Anna University <span class="strong">GPA Calculator Regulation 2021</strong>  please comment below.</li>
           </ul> 
        </div>
<br><br><br><br>
        <hr>
<br>
        <div class="formula">
            <h2 class="formula-pa">Formula Used In CGPA Calculation:</h2>
            <p>The Formula used to calculate CGPA is:</p>
            <img class="formula_img" src="img/formula.jpg" alt="formula-img">
            <p>where,</p>
           
               <p class="formula-para" >n is number of all courses successfully cleared during the particular semester in the case of GPA.</p>
               
               <p class="formula-para">GPi is the point corresponding to the grade obtained for each course.</p>
               
               <p class="formula-para">Ci is the number of Credits assigned to the course.</p>
        </div>
    </div>







    <div class="footer1">
        <div class="left"><p>  © 2022 FUTURE <img src="img/x.png" alt=""> Inc. All rights reserved.</p> </div>
        <div class="right"><a id="delayed-link" href="#top"><ion-icon name="arrow-up-outline"></ion-icon></a></div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script src="js/app.js"></script>
<script src="server.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>