<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success Page</title>
  <link rel="icon" href="img/favi.ico">
  <link rel="stylesheet" href="css/success.css">
</head>
<body>
  <div class="success-container">
    <div class="success-icon">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.293 6.293L9 17.586l-4.293-4.293a.999.999 0 111.414-1.414L9 14.758l10.879-10.879a.999.999 0 111.414 1.414z"/>
      </svg>
    </div>
    <h1>Success!</h1>
    <p>Your comment has been submitted successfully.</p>
  </div>
  <br>
  <br><br>
  <br>

  <!-- <a class="anchor" href="/">Return</a> -->
</body>
</html>
